body,
html {
  margin: 0;
  padding: 0;
  height: 130vh;
}

#number-guess,
#result,
#history {
  max-width: 40vw;
  margin: 0 auto;
}

#history {
  margin-top: 16px;
}

main {
  padding-top: 18vh;
  height: auto;
}

.aboveText {
  font-size: 3vw;
  color: #fff;
}
.banner {
  color: #fff;
  font-size: 7vw;
  font-family: sans-serif;
}

span {
  font-weight: bolder;
}

h2 {
  color: grey;
}

.r {
  color: #f54e16;
}

.b {
  color: #0000a5;
}

#number-submit:hover {
  background-color: transparent;
  border-color: #fff;
}

#restart-game {
  background-color: transparent;
  color: #fff;
}

#restart-game:hover {
  background-color: #6c757d;
  color: #fff;
  border-color: #6c757d;
}

#imgBackground {
  background-image: url("https://www.wallpaperflare.com/static/86/946/461/smoke-background-play-of-light-%C2%A0dark-wallpaper-preview.jpg");
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.alert-warning {
  color: #fff;
  font-weight: bolder;
  background: tan;

  border: none;
}

.alert-success {
  color: #fff;
  font-weight: bolder;
  background: green;
  border: none;
}

.list-group {
  flex-direction: column;
}

.list-group-item {
  background-color: gainsboro;
}
